* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-image: linear-gradient(black, black);
    font-family: 'Pathway Gothic One', sans-serif;
    color: #ffbe00;
    animation: stars 1s forwards 4s;
}

@keyframes stars {
    0% {background-image: linear-gradient(black, black);}
    100% {background-image: url(img/star-wars-backgrounds-25.jpg);}
}

.intro {
    width: 700px;
    height: 250px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50vh;
    margin: auto;
    color: #00737E;
    font-size: 300%;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 150%;
    animation: intro 1s forwards 3s;
}

@keyframes intro {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.logo {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    top: 15vh;
    margin: auto;
    opacity: 0;
    z-index: 2;
    transform: scale(1.5);
    animation: fade-in 1s forwards 5s, zoom 8s linear 5s forwards, fade-out 1s linear 12s forwards;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes zoom {
    0% {transform: scale(1.5, 1.5);}
    100% {transform: scale(0.1, 0.1);}
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fade {
    position: relative;
    width: 100%;
    min-height: 50vh;
    top: -50px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.star-wars {
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 400px;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
}

.crawl {
    position: relative;
    top: 9999px;
    transform-origin: bottom;
    animation: crawl 50s linear 13s;
}

@keyframes crawl {
    0% {top: 0; transform: rotateX(20deg) translateZ(0);}
    100% {top: -6000px;transform: rotateX(25deg) translateZ(-2500px);}
}

.title {
    font-size: 90%;
    text-align: center;
}

.title h1 {
    margin: 50px 0 100px;
    text-transform: uppercase;
}